<!DOCTYPE html>
<html ng-app="afriens">
  <head>
	<link rel='stylesheet' href='stylesheets/bootstrap.min.css'/>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  	<script src="javascripts/angular/angular.min.js"></script>
  	<script src="javascripts/angular/angular-route.min.js"></script>
  	<script src="/templates/main.html"></script>
  	<script src="/javascripts/app.js"></script>
    <title>Afriens</title>
  </head>
  <body>
   	<div ng-view></div>
  </body>
</html>
